/* Colors:
black: #323232
teal: #00897f
orange: #f26522
light gray: #eeeeee
*/
h1,
h3,
p,
nav h1,
nav ul {
  color: #323232;
}

h2 {
  color: #00897f;
}

.address {
  color: #f26522;
}

#contact, .bio {
  background-color: #eee;
}

/* Fonts */
h1,
h2,
nav h1,
footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h3,
p {
  font-family: 'PT Serif', serif;
}

nav li {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.875em;
}

h3 {
  font-size: 1em;
  line-height: 2em;
}

p {
  font-size: .875em;
  line-height: 1.75em;
}

/* General */
body {
  margin: 10px;
}

/* Navigation */
nav {
  height: 80px;
}

nav h1 {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
  margin: 25px;
}

nav ul {
  display: inline-block;
  float: right;
  margin-right: 25px;
}

nav li {
  display: inline-block;
  margin: 30px 15px;
  text-transform: uppercase;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

/* Splash Image */
.splash img {
  width: 100%;
}

/* Main Content */
#main h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 45px;
  /* margin- */
}

/* Intro */
#intro h3 {
  width: 50%;
  margin: 0 auto 50px auto;
}

/* About - Bios */
#about {
  text-align: center;
  vertical-align: center;
}

.bio {
  width: 20%;
  min-height: 180px;
  padding: 30px;
  /* background-color: #eeeeee; */
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}

.bio p {
  text-align: left;
}

/* Cats in Costume Images */
#cats-in-costume {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

#cats-in-costume img {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  display: inline-block;
  margin: 0 27px;
}

/* Contact Information */
#contact {
  text-align: center;
  padding: 80px 0;
}

#contact h1 {
  padding-bottom: 45px;
  margin: 0;
}

#contact h2 {
  font-weight: bold;
}

.contact-details {
  background-color: white;
  width: 20%;
  display: inline-block;
  padding: 30px;
  margin: 0 30px;
  vertical-align: top;
}

.contact-line-head {
  text-transform: uppercase;
}

.contact-details p {
  text-align: left;
  line-height: 2em;
}

.contact-details .address {
  display: inline-block;
  vertical-align: top;
}

/* Map */
#map {
  width: 100%;
}

/* Footer */
footer h1 {
  font-size: 1.25em;
  color: white;
  margin-top: 0;
}

footer {
  height: 125px;
  background-color: #00897f;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
